In [5]:
import pandas as pd

df = pd.read_csv('./P2_TMDb_Movie_Data/tmdb-movies.csv', nrows=5, usecols=cc)

In [23]:
a =df.columns.to_list()
a
cc = ['id', 'budget']
df = pd.read_csv('./P2_TMDb_Movie_Data/tmdb-movies.csv', nrows=5)

In [41]:
df.dtypes.value_counts()
df2=df.select_dtypes(include=['int64'])

In [52]:
def rule(x, y):
    if x == 'high' and y > 10:
         return 1
    else:
         return 0
df = pd.DataFrame({ 'c1':[ 'high' ,'high', 'low', 'low'], 'c2': [0, 23, 17, 4]})
print(df)
df['c2'].value_counts(normalize=True).reset_index()

     c1  c2
0  high   0
1  high  23
2   low  17
3   low   4

   index    c2
0     23  0.25
1      4  0.25
2     17  0.25
3      0  0.25

     c1  c2
0  high   0
1  high  23
2   low  17
3   low   4